@{
    <link rel="stylesheet" href="~/css/login.css" /> 
}
<div class="posicionado">
    <div class="tela_login">

        <input id="user_login" placeholder="login" type="text" />
        <input id="user_pass" placeholder="password" type="password" />
        <button id="login" class="btn btn-dark">Login</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>